#include <windows.h>

//
// Version Information
//

1 VERSIONINFO
FILEVERSION     2, 0, 0, 0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "041104b0"
        {
            VALUE "Comments",         "素数関連の計算を行うシンプルなフリーソフトウェアです。1～9223372036854775807の自然数に対応しています。\0"
            VALUE "FileDescription",  "素因数分解プログラム\0"
            VALUE "FileVersion",      "2β\0"
            VALUE "InternalName",     "Prime Factorization\0"
            VALUE "LegalCopyright",   "Copyright (C) 2018-2020 watamario All rights reserved.\0"
            VALUE "ProductName",      "素因数分解 for SHARP Brain\0"
            VALUE "ProductVersion",   "2β\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x411, 1200
    }
}


//
// Icon
//

100 ICON DISCARDABLE "app.ico"


//
// Menu
//

1001 MENU DISCARDABLE
{
    POPUP "ファイル(&F)"
    {
        MENUITEM "ファイルに保存(&S)",2001
        MENUITEM "クリップボードにコピー(&C)",2002
        MENUITEM "終了(&X)",2009
    }
    POPUP "オプション(&O)"
    {
        MENUITEM "素因数分解(&F)", 2051
        MENUITEM "素数列挙・数え(&L)", 2052
        MENUITEM SEPARATOR
        MENUITEM "個数のみ表示(&N)", 2060, GRAYED
        MENUITEM "テキストファイルに出力(&T)", 2061, GRAYED
        MENUITEM "既存のファイルに上書き(&W)", 2062, GRAYED
    }
    POPUP "ヘルプ(&H)"
    {
        MENUITEM "使い方(&U)",2101
        MENUITEM "このプログラムについて(&A)",2109
    }
}
