#include <windows.h>
#include "resource.h"

//
// Version Information
//

VS_VERSION_INFO VERSIONINFO
FILEVERSION     3, 0, 0, 0
PRODUCTVERSION  3, 0, 0, 0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
    {
      VALUE "CompanyName",      "watamario15\0"
      VALUE "FileDescription",  "Prime Calculator\0"
      VALUE "FileVersion",      "3\0"
      VALUE "InternalName",     "prime\0"
      VALUE "LegalCopyright",   "(C) 2018-2026 watamario15\0"
      VALUE "OriginalFilename", "prime.exe\0"
      VALUE "ProductName",      "Prime Calculator\0"
      VALUE "ProductVersion",   "3\0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x411, 1200, 0x409, 1200
  }
}


//
// Icon
//

ResIcon ICON "app.ico"


//
// Menu
//

ResMenu_JA MENU
{
  POPUP "ファイル (&F)"
  {
    MENUITEM "ファイルに保存 (&S)", IDM_FILE_SAVE_AS
    MENUITEM "終了 (&X)", IDM_FILE_EXIT
  }
  POPUP "編集 (&E)"
  {
    MENUITEM "切り取り (&T)", IDM_EDIT_CUT
    MENUITEM "コピー (&C)", IDM_EDIT_COPY
    MENUITEM "貼\り付け (&P)", IDM_EDIT_PASTE
    MENUITEM "全選択 (&A)", IDM_EDIT_SELECT_ALL
  }
  POPUP "オプション (&O)"
  {
    MENUITEM "素因数分解 (&F)", IDM_OPT_PF
    MENUITEM "素数列挙・数え (&E)", IDM_OPT_PE
    MENUITEM SEPARATOR
    MENUITEM "個数のみ表\示 (&N)", IDM_OPT_CNTONLY
    MENUITEM "テキストファイルに出力 (&T)", IDM_OPT_OUTFILE
    MENUITEM SEPARATOR
    POPUP "&Language"
    {
      MENUITEM "日本語 (&J)", IDM_OPT_LANG_JA
      MENUITEM "&English", IDM_OPT_LANG_EN
    }
    POPUP "文字コード (&C)"
    {
      MENUITEM "&UTF-8", IDM_OPT_CHARSET_UTF8
      MENUITEM "&Shift_JIS (CP932)", IDM_OPT_CHARSET_SJIS
    }
  }
  POPUP "ヘルプ (&H)"
  {
    MENUITEM "使い方 (&U)", IDM_HELP_HOWTOUSE
    MENUITEM "このプログラムについて (&A)", IDM_HELP_ABOUT
  }
}

ResMenu_EN MENU
{
  POPUP "&File"
  {
    MENUITEM "&Save As...", IDM_FILE_SAVE_AS
    MENUITEM "E&xit", IDM_FILE_EXIT
  }
  POPUP "&Edit"
  {
    MENUITEM "Cu&t", IDM_EDIT_CUT
    MENUITEM "&Copy", IDM_EDIT_COPY
    MENUITEM "&Paste", IDM_EDIT_PASTE
    MENUITEM "Select &All", IDM_EDIT_SELECT_ALL
  }
  POPUP "&Options"
  {
    MENUITEM "Prime &Factorization", IDM_OPT_PF
    MENUITEM "&Enumerate Prime Numbers", IDM_OPT_PE
    MENUITEM SEPARATOR
    MENUITEM "Show only &number of prime numbers", IDM_OPT_CNTONLY
    MENUITEM "Output to a &text file", IDM_OPT_OUTFILE
    MENUITEM SEPARATOR
    POPUP "&Language"
    {
      MENUITEM "日本語 (&J)", IDM_OPT_LANG_JA
      MENUITEM "&English", IDM_OPT_LANG_EN
    }
    POPUP "&Charset"
    {
      MENUITEM "&UTF-8", IDM_OPT_CHARSET_UTF8
      MENUITEM "&Shift_JIS (CP932)", IDM_OPT_CHARSET_SJIS
    }
  }
  POPUP "&Help"
  {
    MENUITEM "How to &use", IDM_HELP_HOWTOUSE
    MENUITEM "&About this software", IDM_HELP_ABOUT
  }
}


//
// Accelerators
//

ResAccel ACCELERATORS
{
  "^A", IDM_EDIT_SELECT_ALL
}


//
// String Table
//

STRINGTABLE
{
  IDS_APPNAME "Prime Calculator"
  IDS_ABOUT "Prime Calculator Ver. 3\012\012\
Performs calculations related to prime numbers, suporting natural numbers within signed 64-bit integer. This software is licensed under the MIT License."
  IDS_BUILD "Build date: "
  IDS_COPYRIGHT "(C) 2018-2026 watamario15"
  IDS_PFHELP "Enter a natural number in the input box and press the OK button or the Enter key to start a prime factorization (it can also usable as prime number deciding). As it takes time to process a number with a large prime factor, you can use the Abort button to cancel. Results and errors will be displayed on the box located at the center of the screen. You can switch to the Enumerate Prime Numbers feature in the options menu."
  IDS_PEHELP "Specify a range to enumerate prime numbers and a max count within, and press the OK button or the Enter key to start. Invalid or 0 will be taken as unlimited. As it takes time to process a large prime number, you can use the Abort button to cancel. Results and errors will be displayed on the box located at the center of the screen. You can configure outputs in the options menu. If ""Output to a text file"" is checked, this software writes the result on a specified text file instead of the screen (faster than screen). You can switch to the Prime Factorization feature in the options menu."
  IDS_OK "OK"
  IDS_ABORT "Abort"
  IDS_CLRHST "Clear History"
  IDS_BS "BS"
  IDS_CE "CE"
  IDS_HELP_TITLE "How to use"
  IDS_ABOUT_TITLE "About this software"
  IDS_RUNNING_TITLE "Processing... Please wait..."
  IDS_SAVE_TITLE "Destination"
  IDS_EOPEN "Failed to create or open the file. Make sure the file is not read-only."
  IDS_ERROR "Error"
  IDS_FILEDONE "The output box content has been saved as a text file."
  IDS_INFO "Information"
  IDS_EWRITE "Failed to write on the file. Try again with another path."
  IDS_NUMBER "Number"
  IDS_LOWERBOUND "Min"
  IDS_UPPERBOUND "Max"
  IDS_LIMIT "Limit"
  IDS_RUNNING "Calculating..."
  IDS_PFMSG "Enter a natural number to factor"
  IDS_PEMSG "Enter a range and a limit to enumerate within"
  IDS_PFINVALID "Invalid input; enter a natural number within signed 64-bit integer."
  IDS_PFINVALID_OUT "Error: Invalid; enter natural numbers within signed 64-bit integer\015\012"
  IDS_PFPRIME " (Prime Number)"
  IDS_PFRESULT "Result: "
  IDS_PEINVALID "Invalid input."
  IDS_PEINVALID_OUT "Error: Invalid\015\012"
  IDS_OUT_TITLE "Destination"
  IDS_EOPEN_OUT "Error: Failed to create or open the file.\015\012"
  IDS_EWRITE_OUT "Error: Failed to write on the file.\015\012"
  IDS_RUNFILE "Writing the result on the text file...\015\012"
  IDS_PERESULT "Number of prime numbers: %I64d (Range: Between %I64d and %I64d, Limit: %I64d numbers)"
  IDS_PEABORT "[Aborted] Number of prime numbers: More than %I64d (Range: Between %I64d and %I64d, Limit: %I64d numbers)"
  IDS_EREGCL "RegisterClassW failed."
  IDS_ECRTWND "CreateWindowExW failed."
  IDS_EALLOC "Failed to allocate memory."
  IDS_ESCRBUF "Failed to create a display buffer. Lack of memory may cause this error."
  IDS_ETHREAD "Failed to create a calculation thread."
  IDS_ETHREAD_OUT "Error: Failed to create a calculation thread.\015\012"

  // Japanese
  IDS_JA_APPNAME "Prime Calculator"
  IDS_JA_ABOUT "Prime Calculator Ver. 3\012\012\
符号付き 64-bit 整数範囲の自然数に対して素数関連の計算を行います。このソ\フトウェアは MIT License でライセンスされます。"
  IDS_JA_BUILD "ビルド日付: "
  IDS_JA_COPYRIGHT "(C) 2018-2026 watamario15"
  IDS_JA_PFHELP "画面上部の入力ボックスに自然数を入力し、OK ボタンまたは Enter で素因数分解を開始します。巨大な素因数を持つ自然数の処理には時間がかかりますが、待てない場合は中断ボタンで中断できます。結果及びエラー内容は画面中央のボックスに出力します。画面上部のメニューバーのオプションから素数列挙・数え上げの機能\に切り替えられます。"
  IDS_JA_PEHELP "素数列挙の範囲と個数上限を入力し、OK ボタンまたは Enter で処理を開始します。無効値や 0 は無制限として扱います。大きな素数の処理は時間がかかりますが、待てない場合は中断ボタンで中断できます。結果及びエラー内容は画面中央のボックスに出力します。画面上部のメニューバーのオプションから出力を調整できます。テキストファイル出力を指定すると、画面ではなく指定したテキストファイルに結果を出力します（画面より高速）。同様にオプションから素因数分解の機能\に切り替えられます。"
  IDS_JA_OK "OK"
  IDS_JA_ABORT "中断"
  IDS_JA_CLRHST "履歴消去"
  IDS_JA_BS "削除"
  IDS_JA_CE "全消"
  IDS_JA_HELP_TITLE "使い方"
  IDS_JA_ABOUT_TITLE "このプログラムについて"
  IDS_JA_RUNNING_TITLE "計算中...しばらくお待ち下さい..."
  IDS_JA_SAVE_TITLE "保存先の指定"
  IDS_JA_EOPEN "ファイルの作成またはオープンに失敗しました。書き込み禁止になっていないかを確認してください。"
  IDS_JA_ERROR "エラー"
  IDS_JA_FILEDONE "出力ボックスの内容をテキストファイルに書き出しました。"
  IDS_JA_INFO "情報"
  IDS_JA_EWRITE "出力ファイルへの書き込みに失敗しました。別のパスで再試行してください。"
  IDS_JA_NUMBER "自然数"
  IDS_JA_LOWERBOUND "最小値"
  IDS_JA_UPPERBOUND "最大値"
  IDS_JA_LIMIT "個数上限"
  IDS_JA_RUNNING "計算中です..."
  IDS_JA_PFMSG "素因数分解したい自然数を入力してください"
  IDS_JA_PEMSG "素数を探す範囲と個数上限を入力してください"
  IDS_JA_PFINVALID "無効な値です。符号付き 64-bit 整数範囲の自然数（正整数）を入力してください｡"
  IDS_JA_PFINVALID_OUT "エラー: 無効な値（符号付き 64-bit 整数範囲の自然数のみ対応）\015\012"
  IDS_JA_PFPRIME "（素数）"
  IDS_JA_PFRESULT "結果: "
  IDS_JA_PEINVALID "無効な値が入力されました｡"
  IDS_JA_PEINVALID_OUT "エラー: 無効な値\015\012"
  IDS_JA_OUT_TITLE "結果の出力先指定"
  IDS_JA_EOPEN_OUT "エラー: ファイルの作成またはオープンに失敗\015\012"
  IDS_JA_EWRITE_OUT "エラー: テキストファイル書き込み失敗\015\012"
  IDS_JA_RUNFILE "計算結果をテキストファイルに出力しています...\015\012"
  IDS_JA_PERESULT "合計個数: %I64d（範囲: %I64d以上%I64d以下, 個数上限: %I64d）"
  IDS_JA_PEABORT "［中断］合計個数: %I64d以上（範囲: %I64d以上%I64d以下, 個数上限: %I64d）"
  IDS_JA_EREGCL "RegisterClassW に失敗しました。"
  IDS_JA_ECRTWND "CreateWindowExW に失敗しました。"
  IDS_JA_EALLOC "メモリ確保に失敗しました。"
  IDS_JA_ESCRBUF "画面バッファの作成に失敗しました。メモリ不足の可能\性があります。"
  IDS_JA_ETHREAD "計算スレッドの作成に失敗しました。"
  IDS_JA_ETHREAD_OUT "エラー: 計算スレッド作成失敗\015\012"
}
